<p-toast></p-toast>
<form [formGroup]="loginFormGroup" (ngSubmit)="loginSubmit()">
  <div
    class="surface-card shadow-3 h-full w-4 h-30rem border-round-2xl absolute top-50 left-50 transform-translate-50-50"
  >
    <div
      class="flex flex-column align-items-center justify-content-around h-full"
    >
      <span class="text-2xl font-medium roboto">Login</span>
      <div
        class="flex flex-column align-items-center row-gap-4 justify-content-center p-3 w-full"
      >
        <div class="w-full">
          <span class="p-float-label w-full p-input-icon-left">
            <i class="pi pi-user"></i>
            <input
              class="w-full"
              id="username-input"
              type="text"
              formControlName="username"
              pInputText
            />
            <label for="username-input">Username</label>
          </span>
          <div
            *ngIf="
              loginFormGroup.get('username')?.errors &&
              loginFormGroup.get('username')?.dirty
            "
          >
            <div *ngIf="loginFormGroup.get('username')?.errors?.['required']">
              <small class="p-error block">Username is required</small>
            </div>
            <div *ngIf="loginFormGroup.get('username')?.errors?.['minlength']">
              <small class="p-error block"
                >Username should be at least 3 characters long</small
              >
            </div>
          </div>
        </div>
        <div class="w-full">
          <span class="p-float-label w-full">
            <p-password
              id="password"
              type="password"
              class="w-full"
              [feedback]="false"
              placeholder="Password"
              styleClass="p-password p-component p-inputwrapper p-input-icon-right"
              [style]="{ width: '100%' }"
              [inputStyle]="{ width: '100%' }"
              [toggleMask]="true"
              formControlName="password"
            ></p-password>
            <label for="password-input">Password</label>
          </span>
          <div
            *ngIf="
              loginFormGroup.get('password')?.errors &&
              loginFormGroup.get('password')?.dirty
            "
          >
            <div *ngIf="loginFormGroup.get('password')?.errors?.['required']">
              <small class="p-error block">Password is required</small>
            </div>
            <div *ngIf="loginFormGroup.get('password')?.errors?.['minlength']">
              <small class="p-error block"
                >Password should be at least 4 characters long</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-column row-gap-3">
        <button
          pButton
          type="button"
          label="Register here!"
          class="p-button-link"
          (click)="registerClicked()"
        ></button>
        <button
          pButton
          type="submit"
          label="Login"
          [disabled]="loginFormGroup.invalid"
          [loading]="isLoading"
        ></button>
      </div>
    </div>
  </div>
</form>
